@import "utilities";

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 16rem;
  padding-top: 1.25rem;
  background: rgb(34, 34, 34);

  .top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.75rem;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
  }
}

.link-items {
  color: rgb(255, 255, 255);

  .parent {
    position: relative;
    cursor: pointer;
    color: rgb(255, 255, 255);

    .icon {
      font-size: 20px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 56px;
      margin-left: 4px;
    }

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 32px;

      span {
        width: 100%;
        font-size: 0.93rem;
        line-height: 2.25rem;
        font-weight: 600;
      }
    }

    &.active {
      * {
        color: #f5a622;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: #f5a622;
        color: #f5a622;
      }
    }
  }

  .link-item-group {
    height: 200px;
    transition: all 0.25s ease-in-out;
    overflow: hidden;

    &.closed {
      height: 0px !important;
    }

    .child {
      position: relative;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-size: 0.93rem;
      font-weight: 600;
      line-height: 2.5rem;
      padding-left: 60px;

      &.active,
      &:hover {
        .text {
          color: #ffffff;
        }
      }
    }

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 32px;
      min-height: 40px;
      color: #909696;
      transition: all 0.15s ease-in-out;

      span {
        width: 100%;
        font-size: 0.93rem;
        line-height: 2.25rem;
        font-weight: 600;
      }
    }
  }
}

.notification-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #000000;

  & > i {
    font-size: 23.2px;
  }
}

.ef-logo {
  height: 60px;
}

.sidebar-divider {
  margin: 2.25rem 1.25rem;
  height: 0.1rem;
  background-color: rgb(102, 107, 112);
}

@media (max-width: 899px) {
  .section-icons {
    .card-panel {
      img {
        max-height: 12vw;
        min-height: 100px;
      }
    }
  }
}
